.quantity {
    width: 158px;
    padding: 9px 16px;
    border-radius: 40px;
    border: 1px solid #DDD;
    display: flex;
    align-items: center;
    input {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        margin: 0 18px;
        text-align: center;
    }
    button {
        flex: 0 0 16px;
        width: 16px;
        height: 16px;
        position: relative;
        &:before, &:after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 4px;
            background: $light-gray;
            position: absolute;
            top: calc((50% - 1px));
            left: 0;
        }
    }
    .js-plus {
        &:after {
            transform: rotate(90deg);
        }
    }
    @media (max-width: $bp1) {
        width: 140px;
        padding: 9px 12px;
        input {
            font-size: 16px;
        }
    }
    @media (max-width: $bp3) {
        width: 120px;
        padding: 6px 9px;
        button {
            flex: 0 0 12px;
            width: 12px;
            height: 12px;
        }
    }
}
.item-cart {
    padding: 16px 40px 0;
    border-top: 1px solid #DFE2E9;
    display: grid;
    grid-template-columns: 0.91fr 2fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    gap: 0 52px;
    margin-bottom: 40px;
    &:last-child {
        margin-bottom: 0!important;
    }
    h5 {
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .rub {
        font-weight: 700;
    }
    .media-cover {
        padding-top: 75%;
        border-radius: 16px;
    }
    .extra-list__btn {
        margin-top: 0;
    }
    .quantity {
        margin-bottom: 24px;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-column: 1/3;
        margin-bottom: 24px;
    }
    &__action {
        display: flex;
        align-items: center;
        margin-left: 40px;
        svg {
            fill: $light-gray;
            flex: 0 0 16px;
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
        span {
            font-weight: 500;
            color: $light-gray;
        }
    }
    &__left {
        grid-area: 2/1/4/2;
        display: flex;
        align-items: center;
        .item-checkbox {
            flex: 0 0 24px;
            margin-right: 24px;
        }
        .item-checkbox span:before {
            margin: 0;
        }
    }
    &__preview {
        flex: 1;
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr 160px;
        gap: 24px 30px;
    }
    &__det {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4px;
        img {
            flex: 0 0 32px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 4px;
        }
        span {
            font-weight: 600;
            display: flex;
            align-items: center;
        }
        span:first-child {
            color: #5E5E5E;
            font-weight: 500;
            margin-right: 4px;
        }
    }
    &__price {
        font-weight: 700;
        text-align: center;
    }
    &__comment{  
        textarea {
            max-width: 353px;
        }
        &-btn {
            display: inline-block;
            font-size: 20px;
            font-weight: 600;
            color: $dark-gray;
            margin-bottom: 8px;
            cursor: pointer;
        }
    }
    &__comment-txt {
        display: none;
        textarea {
            min-height: 96px;
        }
        &.show {
            display: block;
        }
    }
    @media (max-width: $bp1) {
        padding: 16px 24px 0;
        grid-template-columns: 1.14fr 2fr;
        gap: 0 24px;
        margin-bottom: 60px;
        .extra-list__btn {
            font-weight: 600;
            svg {
                flex: 0 0 16px;
                width: 16px;
                height: 16px;
            }
        }
        h5 {
            font-size: 20px;
            margin-bottom: 16px;
        }
        .quantity {
            margin: 16px 0;
        }
        .item-checkbox {
            margin-right: 16px;
        }
        &__action {
            span {
                font-size: 14px;
            }
        }
        &__content {
            grid-template-columns: 1fr 140px;
            gap: 20px
        }
        &__info {
            font-size: 14px;
        }
        &__price {
            font-size: 20px;
        }
        &__comment-btn {
            font-size: 14px;
        }
    }
    @media (max-width: $bp2) {
        grid-template-columns: 1.3fr 2fr;
        .extra-list__btn {
            font-size: 16px;
            .extra-list__btn svg {
                flex: 0 0 24px;
                width: 24px;
                height: 24px;
            }
        }
        h5 {
            font-size: 18px;
        }
        &__left {
            position: relative;
            .item-checkbox {
                position: absolute;
                top: 12px;
                left: 12px;
                z-index: 2;
                span:before {
                    border-color: $maincolor;
                }
            }
        }
        &__comment {
            grid-column: 1/3;
            &-btn {
                font-size: 16px;
            }
        }
    }
    @media (max-width: $bp3) {
        padding-left: 0;
        padding-right: 0;
        h5 {
            font-size: 16px;
        }
        .rub {
            font-size: 16px;
        }
        .extra-list__btn {
            font-size: 14px;
        }
        .quantity {
            margin: 0;
        }
        &__top {
            margin-bottom: 16px;
        }
        &__action {
            margin-left: 12px;
            font-size: 0;
            span {
               font-size: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            svg {
                flex: 0 0 20px;
                width: 20px;
                height: 20px;
                margin: 0;
            }
        }
        &__content {
            grid-template-columns: 1fr;
            gap: 12px;
        }
        &__det {
            img {
                width: 24px;
                height: 24px;
            }
        }
        &__total {
            display: grid;
            grid-template-columns: 120px 1fr;
            gap: 16px;
            align-items: center;
        }
        &__comment {
            grid-column: 1/2;
            &-btn {
                font-size: 14px;
            }
        }
        &__price {
            text-align: right;
        }
    }
    @media (max-width: $bp5) {
        padding-top: 24px;
        grid-template-columns: 1fr 40px;
        margin-bottom: 40px;
        h5 {
            grid-column: 1/3;
        }
        &__top {
            grid-area: 2/2/3/3;
            flex-direction: column;
            align-items: flex-end;
            margin: 0;
        }
        &__action {
            margin: 0 0 12px 0;
        }
        &__preview {
            margin-bottom: 24px;
        }
        &__content {
            grid-column: 1/3;
        }
    }
}
.cart {
    h1 {
        margin-bottom: 40px;
    }
}
.cart-modal{
    &__total {
        margin-bottom: 40px;
    }
}
.cart-form {
    display: grid;
    grid-template-columns: 2.05fr 1fr;
    gap: 30px;
    .item-cart__grid {
        padding: 0 40px;
    }
	&__fieldset {
        padding: 60px 50px 40px;
        border-radius: 20px;
        border: 1px solid #DDD;
        h3 {
            margin-bottom: 32px;
        }
        .item-form textarea {
            min-height: 80px;
        }
        .item-info {
            margin: 0 20px 20px 0;
        }
    }
    @media (max-width: $bp1) {
        grid-template-columns: 3.14fr 1fr;
        gap: 20px;
        .item-cart__grid {
            padding: 0 24px;
        }
        &__fieldset{
            h3 {
                margin-bottom: 24px;
            }
            .item-info {
                margin-bottom: 16px;
            }
        }
    }
    @media (max-width: 1279.98px) {
        grid-template-columns: 2.5fr 1fr;
    }
    @media (min-width: $bp2) and (max-width: $bp1) {
        .item-form {
            input, input::placeholder, textarea, textarea::placeholder {
                font-size: 14px;
            }
            input,  textarea {
                padding: 9px 17px;
            }
        }
    }
    @media (max-width: $bp2) {
        grid-template-columns: 1fr;
        &__fieldset {
            padding: 50px 40px;
        }
    }
    @media (max-width: $bp3) {
        .item-cart__grid {
            padding: 0;
        }
        &__fieldset {
            padding: 0;
            border: none;
            border-radius: 0;
            margin-bottom: 60px;
            h3 {
                font-size: 26px;
            }
            .item-info {
                margin-right: 0;
            }
            .item-form textarea {
                min-height: 100px;
            }
        }
    }
}
.cart-del {
    max-width: 1090px;
    .item-contact {
        margin-bottom: 8px;
    }
	&__content {
        display: none;
        padding-top: 24px;
        margin-top: 20px;
        border-top: 1px solid#DDD;
        transition: all .3s linear;
        &.active {
            display: block;
        }
    }
	&__items {
        display: grid;
        grid-template-columns: 32% 24% 24%;
        gap: 10%;
        margin-bottom: 24px;
        .stroke-btn {
            margin-top: 32px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
	&__lbl {
        color: #5d5d5d;
        margin-bottom: 16px;
    }
	&__comp {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 0 -20px -12px;
        img {
            max-height: 40px;
            margin: 0 20px 12px;
        }
    }
    @media (max-width: $bp1) {
        &__items {
            grid-template-columns: 1.3fr 1fr 1fr;
            gap: 20px;
            .stroke-btn {
                font-size: 14px;
                max-width: 290px;
                min-height: 44px;
                padding: 10px 40px;
                margin-top: 28px;
            }
        }
    }
    @media (max-width: 1279.98px) {
        &__items {
            grid-template-columns: 1fr;
            .stroke-btn {
                margin-top: 0;
            }
        }
        &__address {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: start;
            gap: 20px;           
        }
    }
    @media (max-width: $bp2) {
        .item-contact {
            font-size: 14px;
            font-weight: 500;
            &.phone {
                font-size: 16px;
                font-weight: 700;
            }
        }
        &__content {
            padding-top: 40px;
        }
        &__lbl {
            font-weight: 500;
        }
        &__comp {
            img {
                max-height: 26px;
            }
        }
        &__items {
            .stroke-btn {
                font-size: 16px;
            }
        }
    }
    @media (max-width: $bp3) {
        .item-contact {
            line-height: 1.2;
            &.phone {
                font-size: 14px;
            }
            svg {
                flex: 0 0 20px;
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
        &__items {
            .stroke-btn {
                font-size: 14px;
            }
        }
        &__lbl {
            font-size: 12px;
            margin-bottom: 8px;
        }
        &__address {
            grid-template-columns: 1fr;
            gap: 6px;
        }
        &__content {
            padding-top: 20px;
            margin-top: 4px;
        }
        &__comp {
            img {
                max-height: 22px;
            }
        }
    }
    @media (max-width: $bp5) {
        &__items {
            .stroke-btn {
                max-width: 100%;
            }
        }
    }
}
.cart-payment {
    .pickup {
        display: none;
        &.show {
            display: inline-flex;
        }
    }
}
.cart-total {
    .main-btn {
        width: 100%;
    }
    .item-toggle {
        margin-left: 12px;
        span::before {
            margin: 0;
        }
    }
    &__top {
        padding: 0 40px;
        margin-bottom: 40px;
    }
    &__toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        span {
            font-size: 20px;
            font-weight: 500;
        }
    }
	&__lbl {
        font-weight: 600;
        display: block;
        text-align: center;
    }
	&__bottom { 
        border-radius: 16px;
        border: 1px solid #F2F3F5;
        background: #FCFDFF;
        box-shadow: 2px 2px 4px 0px rgba(189, 191, 193, 0.25);
        &-inner {
            padding: 32px 40px;
        }
    }
	&__det {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        span {
            font-size: 20px;
            font-weight: 500;
        };
    }
    &__total {
        padding-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        border-top: 1px solid #ddd;
        span {
            font-weight: 700;
            &:first-child {
                margin-right: 10px;
            }
        }
    }
    &__mobprice {
        display: none;
    }
    @media (min-width: $bp1) {
        &__top .cart-total__lbl {
            margin-bottom: 24px;
        }
    }
    @media (max-width: $bp1) {
        .h5 {
            font-size: 20px;
        }
        .main-btn {
            font-size: 14px;
            min-height: 44px;
        }
        .form__footer {
            margin-top: 24px;
            p {
                font-size: 12px;
            }
        }
        &__toggle span{
            font-size: 14px;
        }
        &__top {
            padding: 0 20px;
        }
        &__bottom-inner {
            padding: 32px 20px;
        }
        &__det {
            margin-bottom: 16px;
            span {
                font-size: 14px;
            }
        }
        &__total {
            margin-top: 24px;
        }
    }
    @media (max-width: $bp1) {
        &__top, &__bottom-inner {
            max-width: 440px;
            margin-left: auto;
            margin-right: auto;
        }
        &__bottom {
            border-radius: 0;
            box-shadow: none;
        }
    }
    @media (max-width: $bp3) {
        margin: 0 -20px;
        .h5 {
            font-size: 16px;
        }
        &__toggle span {
            font-weight: 600;
        }
        &__mobprice {
            display: flex;
        }
    }
}

