.delivery-acc {
  &__content {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 24px;
    align-items: end;
    p {
      font-size: 18px;
      font-weight: 500;
      color: $dark-gray;
      span {
        display: block;
      }
    }
  }
  &__right {
    justify-self: end
  }
  &__comp {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -12px -16px;
    img {
      max-height: 40px;
      margin: 0 12px 16px;
    }
  }
  @media (max-width: $bp2) {
    &__content {
      p {
        font-size: 14px;
        span {
          display: inline;
        }
      }
    }
    &__comp {
      img {
        max-height: 31px;
      }
    }
  }
  @media (max-width: $bp3) {
    &__content {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    &__right {
      justify-self: stretch;
    }
    &__comp {
      justify-content: flex-start;
      img {
        max-height: 17px;
      }
    }
  }
  @media (max-width: $bp5) {
    .stroke-btn {
      width: 100%;
    }
  }
}
.delivery {
  h1 {
    margin-bottom: 40px;
  }
  @media (max-width: $bp1) {
    h1 {
      margin-bottom: 60px;
    }
    .mb-40 {
      margin-bottom: 40px;
    }
    .section-sm:not(:last-child) {
        margin-bottom: 100px;
    }
  }
  @media (max-width: $bp3) {
    h1 {
      margin-bottom: 40px;
    }
    .mb-40 {
      margin-bottom: 20px;
    }
    .section-sm:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}