.info__left {
    width: calc(27% - 170px);
    padding: 30px 25px;
  }
  .info__left img {
    display: none;
  }
  .info__left p {
    font-size: 25px;
    line-height: 1.2;
    width: 100%;
    max-width: 130px;
  }
  
  .info__left p span {
    font-size: 16px;
  }
  
  .info__center {
    width: 560px;
    margin: 0 -5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .info__center a {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    margin: 0 10px;
  }
  
  .info__center a:first-child {
    margin-right: 10px;
  }
  
  .info__right {
    width: calc(73% - 450px);
  }
  
  .info__right a {
    font-size: 16px;
  }
  
  @media screen and (max-width: 1309px) {
    .info__left {
      width: calc(41.6666666667% - 170px);
    }
  
    .info__right {
      width: calc(100% - 30px);
    }
  }
  
  @media screen and (max-width: 991px) {
    .info__left {
      width: calc(44% - 160px);
    }
  
    .info__center {
      margin-bottom: 0;
    }
  
    .info__center a {
      margin-bottom: 22px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .info__left {
      width: calc(100% - 30px);
      padding: 30px 14px 30px 20px;
    }
  
    .info__left p {
      line-height: 1.6;
      max-width: none;
    }
  
    .info__left p span {
      max-width: 134px;
    }
  
    .info__center {
      width: calc(100% - 30px);
      margin-right: 15px;
      margin-left: 15px;
    }
  }