:root {--vh: 1%}
$bp1: 1690.98px;
//$bp1: 1300px;
$bp2: 992.98px;
$bp3: 699.98px;
$bp4: 575.98px;
$bp5: 479.98px;
$bp6: 350.98px;
$maincolor: #242626;
$light-gray: #989898;
$white-gray: #DFE2E9;
$gray: rgba($maincolor, 0.4);
$dark-gray: #5A5A5A;
$white: #ffffff;
$black: #000000;
$red: #FF5C60;
$gold: #FC9701


